*,
*:before,
*:after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  background: linear-gradient(to left bottom, lightgreen, orangered);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.container 
{
  background: rgba(255,255,255,0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  margin: 5px;
}

.heading 
{
  font-size: 30px;
}

.input 
{
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(255,255,255,0.4);
  border-color: rgba(255,255,255,0.5);
  margin: 10px 0;
}

.btn 
{
  background-color: rgba(255,255,255,0.4);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 20px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  cursor: pointer;
}

.btn:hover 
{
  background-color: rgba(255, 160, 122, 0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  transition: all 500ms ease;
}

.btn:active 
{
  transform: scale(0.9);
}

.info-text 
{
  font-size: 20px;
  font-weight: 500;
}